/*==== rtl css ====*/



.spotmies-traffic-area.spotmies-traffic-area-rtl .traffic-thumb {
	left: 0;
	right: auto;
	transform: translateY(-50%) rotateY(-180deg);
}


.spotmies-traffic-area-rtl .spotmies-traffic-title{
	padding-left: 220px;
	padding-right: 0;
}


.spotmies-traffic-area-rtl .spotmies-traffic-service .icon{
	right: 0;
	left: auto;
}



.spotmies-faq-area-rtl .faq-accrodion .accrodion .accrodion-title::after,
.spotmies-faq-area-rtl .faq-accrodion .accrodion .accrodion-title::before{
	right: auto;
	left: 30px;
}


.spotmies-project-area.spotmies-project-area-rtl .spotmies-project-box .spotmies-project-thumb{
	left: 70px;
	right: auto;
}



.spotmies-project-area-rtl .spotmies-project-content .input-box input{
	padding-left: 0;
	padding-right: 30px;
}


.spotmies-project-area-rtl .spotmies-project-content .input-box button{
	margin-left: 0;
	margin-right: 10px;
}





.spotmies-header-area-rtl .spotmies-header-main-menu ul{
	text-align: right;
}





.spotmies-header-area-rtl .spotmies-header-main-menu ul > li .sub-menu{
	text-align: right;
}




















